@import '~bootstrap/scss/bootstrap';

// ----- Colors ----- //
$black: #000;
$gray: #808080;
$darkGray: #262626;

// ----- Important ----- //

* {
  font-family: 'Barlow', sans-serif;
}

// ----- Recipe Text ----- //

.no-recipes {
  text-align: center;
  padding-top: 30px;
}

.recipe-index {
  align-items: center;
}

.showLink {
  font-size: 30px;
  text-decoration: underline;
  display: block;
}

.recipe-index-description {
  display: inline-block;
  padding-top: 10px;
}

.recipe-show {
  text-align: center;
  padding-top: 15px;
}

.recipe-show-div {
  border: 1px solid $gray;
  border-radius: 9px;
  padding: 10px;
  max-width: 500px;
  margin: auto;
}

.recipe-show-title {
  text-decoration: underline;
}

.recipe-show-description {
  // font-style: italic;
  color: $gray;
}

.recipe-show-base {
  padding-top: 20px;
}

.recipe-show-text {
  display: block;
}

.recipe-show-text-wrap {
  white-space: pre-line;
}

// ----- Buttons ----- //

.recipe-show-buttons {
  margin: 10px;
}

.recipe-show-buttons-div {
  margin-top: 20px;
}

.favorite-button {
  float: right;
  display: inline-block;
}

// ----- Homepage ----- //

.homepage-div {
  text-align: center;
}

// ----- Header ----- //

.header-brand {
  font-size: 25px;
  font-family: 'Fredoka One', cursive;
  // font-style: italic;
}

.homepage-brand {
  font-family: 'Fredoka One', cursive;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar {
  margin-bottom: 15px;
}
