@import '~bootstrap/scss/bootstrap';

// ----- Important ----- //

* {
  font-family: 'Barlow', sans-serif;
}

// ----- Recipe Text ----- //

.no-recipes {
  text-align: center;
  padding-top: 30px;
}

.recipe-index {
}

.showLink {
  font-size: 30px;
  text-decoration: underline;
}

.recipe-show {
  text-align: center;
  padding-top: 15px;
}

.recipe-text-wrap {
  white-space: pre-line;
}

// ----- Buttons ----- //

.recipe-show-buttons {
  margin: 10px;
}

.favorite-button {
  text-align: right;
}

// ----- Header ----- //

.header-brand {
  font-size: 25px;
  font-family: 'Barlow', sans-serif;
  font-style: italic;
}
